<footer class="flex flex-col w-full p-5">
	<div class="flex flex-wrap w-full gap-5 justify-between md:justify-evenly">
		<div class="flex flex-col w-[200px] gap-[50px]">
			<div class="flex items-center">
				<img class="w-[100px] object-cover" src="/assets/images/logo.png" />
				<div class="font-mono font-bold text-[20px]">Quikkom</div>
			</div>
			<div class="text-gray-400">Quikkom is a e-commerce framework to build e-commerce applications for your
				business
			</div>
		</div>
		<div class="flex flex-col w-[200px] gap-[30px]">
			<div class="font-bold text-[20px]">Categories</div>
			<ul class="flex flex-col gap-3">
				<li>Technology</li>
				<li>Game</li>
				<li>Car</li>
				<li>Jewelry</li>
				<li>
					<a class="underline text-blue-400">...more</a>
				</li>
			</ul>
		</div>
		<div class="flex flex-col w-[200px] gap-[30px]">
			<div class="font-bold text-[20px]">Shops</div>
			<ul class="flex flex-col gap-3">
				<li>TrendHaven</li>
				<li>LuxeCart</li>
				<li>UrbanChicBoutique</li>
				<li>SwiftStyleMarket</li>
				<li>
					<a class="underline text-blue-400">...more</a>
				</li>
			</ul>
		</div>
		<div class="flex flex-col w-[200px] gap-[30px]">
			<div class="font-bold text-[20px]">About Us</div>
			<ul class="flex flex-col gap-3">
				<li>Who are we?</li>
				<li>F.A.Q</li>
				<li>Contact</li>
				<li>Help</li>
			</ul>
		</div>
	</div>
	<div class="w-full flex justify-center mt-4 text-gray-500">
		<div class="border-t-2 border-t-gray-200 w-[95%] text-center">
			© 2023 <a class="text-blue-400 underline" href="https://github.com/quikkom" target="_blank">Quikkom</a>, All
			right
			reserved
		</div>
	</div>
</footer>